{
    "env": {
        "test": {
            "plugins": [
                "istanbul",
                "transform-flow-strip-types"
            ]
        }
    },
    "presets": [
        "react",
        "latest"
    ]
}