<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div class="starter-template">
                <h1>Bootstrap starter template</h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                <button id="Button" type="button" class="btn btn-primary">Press</button>
            </div>

        </div><!-- /.container -->


        <script src="js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            $(function() {
                var socket = io.connect('/index');
                var btn = $("#Button");

                socket.on('status', function(data) {
                    btn.text(data).button("refresh");
                });

                btn.click(function() {
                    btn.text('0').button("refresh");
                });
            });
        </script>
    </body>
</html>
