<md-sidenav-container>
    <md-sidenav #sidenav>
        <ul>
            <li><a routerLink="/status" (click)="setTitle('Status')">Status</a></li>
            <li><a routerLink="/settings"  (click)="setTitle('Settings')">Settings</a></li>
            <li><a routerLink="/about"  (click)="setTitle('About')">About</a></li>
        </ul>
    </md-sidenav>

    <md-toolbar>
        <button md-mini-fab class="pool-toolbar-button" (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        <span>{{title}}</span>
    </md-toolbar>

    <div style="height: 3000px">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>